.about span {
  display: block;
  font-family: "neue-haas-grotesk-text", sans-serif;
  /* margin: -1px; */
  font-weight: 700;
  color: #495f8c;
  line-height: calc(108px * 100vh / 1080);
}
.about {
  left: var(--second-margin);
}
.about-text-container {
  padding-left: var(--third-margin);
}

@media screen and (max-width: 800px) {
  .about {
    left: var(--second-margin);
  }
  .about-text-container {
    padding-left: var(--second-margin);
  }
  .about-text {
    margin-bottom: calc(30 * 100vh / 1080);
    font-size: calc(80 * 100vw / 1920);
  }
}
