.about span {
  display: block;
  font-family: "neue-haas-grotesk-text", sans-serif;
  /* margin: -1px; */
  font-weight: 700;
  color: #495f8c;
  line-height: calc(108px * 100dvh / 1080);
}
.about {
  left: var(--second-margin);
  top: var(--top-margin);
}
.about-text {
  font-size: 28px;
}
.about span {
  font-size: 86px;
}
/* .about span {
  font-size: 48px;
} */
.about-text-container {
  /* padding-left: var(--third-margin); */
  /* padding-right: calc(245 * 100vw / 1920); */
  top: var(--top-margin);
  font-size: 16px;
}

@media screen and (max-width: 1300px) {
  .about span {
    font-size: 72px;
  }
}

@media screen and (max-width: 800px) {
  .about {
    padding-top: calc(67 * 100dvh / 750);
    margin-bottom: calc(67 * 100dvh / 750);
    padding-left: var(--first-margin);
  }
  .about span {
    margin-bottom: calc(32 * 100vw / 800);
    font-size: 72px;
  }
  .about-text-container {
    padding-left: var(--second-margin);
  }
  .about-text {
    margin-bottom: calc(30 * 100dvh / 1080);
    font-size: calc(80 * 100vw / 1920);
  }
  .about-container {
  }
}
