.photo-container {
  left: var(--second-margin);
  top: var(--top-margin);
}
.contact-container {
  left: var(--third-margin);
  top: var(--top-margin);
}
.footer-container {
  left: var(--second-margin);
  bottom: var(--bottom-margin);
}
.footer-text {
  position: absolute;
  left: var(--third-margin);
  bottom: var(--bottom-margin);
}
.bassedoff {
  position: absolute;
  left: var(--third-margin);
  bottom: calc(116 * 100vh / 1080);
}
.bassedoff span {
  font-size: calc(28 * 100vw / 1920);
  color: #495f8c;
}
.disclaimer {
  left: var(--third-margin);
}
.contact-text {
  width: 100%;
  font-size: 89px;
  font-weight: 700;
  line-height: 108px;
  margin-bottom: calc(46.5 * 100vh / 1080);
}
.icon-1 {
  left: var(--first-margin);
  bottom: var(--bottom-margin);
  height: 39px;
}

@media screen and (max-width: 1000px) {
  .contact {
    height: 100vh;
    width: 100%;
    /* padding-left: var(--first-margin);
    padding-top: var(--first-margin); */
    overflow: hidden;
    position: relative;
  }
  .disclaimer {
    position: absolute;
    left: var(--second-margin);
  }
  .bassedoff {
    position: absolute;
    left: var(--first-margin);
    bottom: calc(32 * 100vh / 800);
  }
  .bassedoff p {
    font-size: 16px;
    color: #495f8c;
    margin: 0;
  }
  .bassedoff p span {
    font-size: 16px;
    color: #495f8c;
    font-style: italic;
    font-weight: 500;
  }
  .footer-text {
    position: absolute;
    font-size: 9px;
    left: auto;
    right: var(--first-margin);
    bottom: calc(32 * 100vh / 800);
    color: #495f8c;
  }
  .photo-container {
    height: 50vh;
    aspect-ratio: 1/2;
  }
  .photo-container img {
    height: 100%;
    object-fit: cover;
  }
  .contact-container {
    padding-left: var(--second-margin);
    margin-top: var(--first-margin);
  }
  .contact-text {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #495f8c;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-container span {
    font-size: 16px;
    color: #495f8c;
  }
  .disclaimer {
    position: absolute;
    bottom: calc(55 * 100vh / 800);
    width: 35%;
    left: calc(var(--second-margin) + 260px);
    text-align: justify;
  }
}
