.hero {
  padding-left: var(--second-margin);
  font-size: calc(100 * 100vw / 1920);
}
.hero-text {
  /* filter: invert(1); */
}

@media screen and (max-width: 768px) {
  .hero {
    padding-left: var(--first-margin);
    font-size: 44px;
  }
}
