.hero {
  /* padding-left: var(--second-margin); */
  font-size: calc(100 * 100vw / 1920);
}
.hero-text-container {
  top: calc(var(--top-margin) - 17px);
  padding-left: var(--second-margin);
  width: 55%;
  overflow-wrap: normal;
  /* filter: invert(1); */
}

@media screen and (max-width: 800px) {
  .hero {
    /* padding-left: var(--first-margin); */
    font-size: 72px;
  }
  .hero-text-container {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    /* padding-left: var(--first-margin); */
    font-size: 40px;
  }
  .hero-text-container {
    width: 80%;
  }
  .iam {
    display: block;
  }
}
