.loading-container p {
  font-size: 72px;
  font-weight: 500;
  /* color: black; */
  margin: 0;
  /* transform: translateY(25%); */
  /* width: 25%; */
  font-family: neue-haas-grotesk-text;
  /* width: 25%; */
  white-space: pre;
}

.loading-container {
  display: flex;
  align-items: center;
  z-index: 100;
  padding: 175px;
}

@media screen and (max-width: 1400px) {
  .loading-container {
    padding: 0;
    padding-left: var(--second-margin);
    /* height: 80%; */
  }
  .loading-text-container {
    flex-direction: column;
    padding-top: calc(135 * 100vh / 748);
    padding-bottom: calc(180 * 100vh / 748);
  }
  .loading-container p {
    font-size: 40px;
  }
}
