@font-face {
  font-family: neue-haas;
  src: url("./assets/fonts/NeueHaasUnica-Regular.ttf") format("truetype");
}

:root {
  font-family: neue-haas-unica, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --first-margin: calc(83.3 * 100vw / 1920);
  --second-margin: calc(500 * 100vw / 1920);
  --third-margin: calc(1107.4 * 100vw / 1920);
  --top-margin: calc(250 * 100dvh / 1080);
  --bottom-margin: calc(62 * 100dvh / 1080);
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100dvh;
}
* {
  box-sizing: border-box;
  user-select: none;
}

@media screen and (max-width: 1400px) {
  :root {
    --first-margin: calc(83.3 * 100vw / 1920);
    --second-margin: calc(calc(500 * 100vw / 1920) - var(--first-margin));
    --third-margin: calc(800 * 100vw / 1400);
  }
}
@media screen and (max-width: 800px) {
  :root {
    --first-margin: 32px;
    --second-margin: 64px;
    --third-margin: 96px;
  }
}
